{% extends "AppCoder/padre.html" %}}

{% block titulo %}
Profesores
{% endblock %}

{% block contenido %}
    <!--Aqui va lo que cambia, y lo asociado a esta vista-->
    <section class="features-icons bg-light text-center">  
        <div class="container">
            <div class="row">
                <h1>Profesores</h1>
                <p>
                    <ul>
                        {% for profesor in profesores %}
                            <li>{{profesor}}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>
    </section>>
{% endblock %}